@font-face {
    font-family: 'Roboto';
    src: url(Fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

* {
    font-family: 'Roboto';
}

.logo, img {
    width: 20%;
}
.header {
    display: flex;
    justify-content: space-between;
    background: #233f66;
    align-items: center;
}
.link, ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
ul, a {
    color: white;
}
ul, a:hover {
    color: #04bef7;
}
li {
    margin: 8px;
}
